@charset "utf-8";


$font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$navbar-height: 36px !default;

$navbar-bg: rgb(255, 255, 255);
$navbar-border: 1px solid #ccc;
$navbar-active-color: #66CCFF;
$bg-color: #F7F7F7;

$prefix-list: (-webkit-, -moz-, -ms-, -o-, "");

/* reset */
html, body, ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
body {
	padding-top: $navbar-height + 6;
	font-family: $font-family;
	background-color: $bg-color;
}
a {
	// color: transparent;
	color: #428bca;
	text-decoration: none;
	background-color: transparent;
	&:active, &:hover {
		outline: 0;
	}
	&:hover,
	&:focus {
		color: #2a6496;
		text-decoration: underline;
	}
	&:focus {

	}
}
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h3 .small {
	font-size: 65%;
}
p {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.75;
}
/* end reset */


/* mixin */
@mixin prefix( $property, $value ) {
	@each $pre in $prefix-list {
		#{$pre}#{$property}: $value;
	}
}
@mixin opacity( $value ) {
	opacity: $value;
	filter: alpha(opacity=#{$value * 100});
}
@mixin gradient($prop, $val) {
	@each $pre in $prefix-list {
		#{$prop}: #{$pre}gradient(#{$val});
	}
}
/* end mixin */

.container {
	width: 90%;
	max-width: 980px;
	margin: 0 auto;
}

/* 清浮动 */
%clearfix {
	zoom: 1;
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}
}
/* end 清浮动 */

/* header */
.navbar {
	position: fixed;
	left: 0;
	top: 0;

	width: 100%;
	border-bottom: $navbar-border;
	background: $navbar-bg;
	z-index: 99;

	.navbar-nav {
		white-space: nowrap;
		li {
			position: relative;
			display: inline;
			margin-left: 10px;
			line-height: $navbar-height;
			// @extend %clearfix;

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				right: 50%;
				bottom: -4px;
				height: 3px;
				display: block;
				background: $navbar-active-color;
				@include opacity(1);
				/* 持续时间 动画方式 延时 */
				@include prefix(transition, 0.2s ease-in 0s);
			}
			a {
				font-size: 24px;
				// font-weight: bold;
				text-decoration: none;
				color: #aaa;
				/* 持续时间 动画方式 延时 */
				@include prefix(transition, 0.2s ease-in 0s);
			}
			a.small {
				font-size: 20px;
			}
			&:hover, &.active {
				& a {
					color: $navbar-active-color;
				}
				&:after {
					left: 0;
					right: 0;
					// opacity: 1;
					@include opacity(1);
				}
			}
		}
	}

	@include prefix(box-shadow, (0 0 2px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.1) inset));

	// load
	.loading {
		width: 100%;
		height: 2px;
		.loading-length {
			width: 0;
			height: 2px;
			background: #66CCFF;
			@include gradient(background, (linear, 10% 10%, 100% 100%, color-stop(0.14, #66CCFF), color-stop(1, #6699CC)));
			@include prefix(transition, 1s);
		}
	}
}
/* end header */

/* page */
.entry-date {
	color: #999;
	font-size: .95em;
}
.entry-more {
	padding-left: 4px;
	font-size: .92em;
	color: #666699;
	@include prefix(transition, .5s);
	&:hover {
		color: #6699FF;
	}
}
/* end page */

/* footer */
#footer {
	width: 100%;
	margin-top: 10px;
	border-top: 1px solid #D9D8D8;
	background: #F0F0F0;
	&.fix {
		position: absolute;
		bottom: 0;
	}
}
.footer-inner {
	padding: 10px;
	text-align: center;
}
/* end footer */