/*
Error: Invalid GBK character "\xE8"
        on line 1 of sass/main.scss

1: // 载入字体
2: @font-face {
3:     font-family: "octicons";
4:   	src: url(../font/octicons.woff);
5: }
6: 

Backtrace:
sass/main.scss:1
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/util.rb:1320:in `block in find_encoding_error'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/util.rb:1319:in `each'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/util.rb:1319:in `each_with_index'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/util.rb:1319:in `find_encoding_error'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/util.rb:896:in `check_sass_encoding'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/engine.rb:423:in `check_encoding!'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/engine.rb:379:in `_to_tree'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/engine.rb:368:in `_render_with_sourcemap'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/engine.rb:285:in `render_with_sourcemap'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:396:in `run'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:62:in `process_result'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/exec/base.rb:52:in `parse'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/exec/base.rb:19:in `parse!'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.8/bin/sass:13:in `<top (required)>'
c:/Ruby200-x64/bin/sass:23:in `load'
c:/Ruby200-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE8\"\A         on line 1 of sass/main.scss\A \A 1: // 载入字体\A 2: @font-face {\A 3:     font-family: \"octicons\";\A 4:   	src: url(../font/octicons.woff);\A 5: }\A 6: "; }
