@charset "utf-8";
// 变量
$color-main-font: #636365;
$color-main-bg: #1FAEFF;
$color-header-bg: rgba(255, 255, 255, .9);
$font-family: "微软雅黑",Helvetica,"Heiti SC",sans-serif;

// 字体路径
@function font-url($name, $type, $format: false) {
	$result: url('../font/#{$name}.#{$type}');
	@if $format != false {
		$result: $result + ' ' + format("#{$format}");
	}
	@return $result;
}
// 字体
@mixin font-face($name) {
	@font-face {
		font-family: $name;
		src: font-url('octicons', 'eot');
		src: font-url('octicons', 'eot?#iefix', 'embedded-opentype'), 
			font-url('octicons', 'woff', 'woff'),
			font-url('octicons', 'eot', 'woff'),
			font-url('octicons', 'ttf', 'truetype'),
			font-url('octicons', 'svg#svgFontName', 'svg');
	}
}
// 前缀
@mixin prefix($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	#{$property}: $value;
}
// margin padding : 0
@mixin mp0 {
	margin: 0;
	padding: 0;
}
// 菜单menu hover active
@mixin menu-choose {
	left: 0;
	right: 0;
	opacity: 1;
}
@include font-face('octicons');

/* reset */
html, body, ul, h2, h3, h4, p {
	@include mp0;
}
ul li {
	text-decoration: none;
}
a {
	text-decoration: none;
	&:active, &:visited, &:focus {
		color: inherit;
	}
}
/* end reset */

body {
	color: $color-main-font;
	background: $color-main-bg;
	font-family: $font-family;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $color-header-bg;
	border-shadow: 1px solid #ccc;
	box-shadow: 0 0 6px rgba(204, 204, 204, .75);
	z-index: 99;
	.header-wrap {
		width: 90%;
		margin: 0 auto;
	}
	.header-menu {
		white-space: nowrap;
		li {
			position: relative;
			display: inline;
			margin-right: 10px;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 40px;

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				right: 50%;
				bottom: -4px;
				display: block;
				height: 2px;
				background: #1FAEFF;
				/* 持续时间 动画方式 延时 */
				@include prefix(transition, 0.2s ease-in 0s);
			}
			&:hover:after {
				@include menu-choose;
			}
			&.active:after {
				@include menu-choose;
			}
		}
	}
}

/* .a {
	border: 1px solid red;
}

.c {
	color: rgba(0, 255, 10, .6);
}

.b {
	@extend .a;
} */

// 清浮动
.clearfix {
	zoom: 1;
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}
}