<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>运动框架</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/fx.css">
	<script type="text/javascript" src="../assets/javascripts/requestAnimFrame.js"></script>
	<script type="text/javascript" src="../assets/javascripts/tween.js"></script>
	<script type="text/javascript" src="../assets/javascripts/fx.js"></script>
</head>
<body>

<div class="stage">
	<div id="box"></div>
</div>
<div class="handle">
	<div>
		x: <input type="number" value="300" id="x" />
		y: <input type="number" value="300" id="y" />
	</div>
	<div>
		持续时间: <input type="number" value="800" id="duration" />
	</div>
	<div>
		类型:
		<select id="tweenType">
			<option>Linear</option>
			<option>Quad</option>
			<option>Cubic</option>
			<option>Quart</option>	
			<option>Quint</option>
			<option>Sine</option>
			<option>Expo</option>
			<option>Circ</option>
			<option>Elastic</option>
			<option selected>Back</option>
			<option>Bounce</option>
		</select>
		缓动: 
		<select id="ease">
			<option>easeIn</option>
			<option selected>easeOut</option>
			<option>easeInOut</option>
		</select>
	</div>
	
	<div>
		回放:
		<input type="checkbox" id="reverse" checked>
	</div>

	<div>
		<button id="btn1">运动</button>
		<button id="btn2">复位</button>
	</div>
</div>

<script type="text/javascript">		

function $selector( node ) {
	return document.querySelectorAll( node );
}

var box = $selector( '#box' )[0],
	x = $selector( '#x' )[0],
	y = $selector( '#y' )[0],
	duration = $selector( '#duration' )[0],
	tweenType = $selector( '#tweenType' )[0],
	ease = $selector( '#ease' )[0],
	reverse = $selector( '#reverse' )[0],
	btn1 = $selector( '#btn1' )[0],
	btn2 = $selector( '#btn2' )[0];

btn1.onclick = function() {
	btn1.disabled=true;
	new Fx(box)
		.animOptions({
			duration: duration.value, 
			type: tweenType.value, 
			ease: ease.value, 
			to: {left: x.value, top: y.value},
			isReverse: reverse.checked,
			onComplete: function() {
				btn1.disabled=false;
			}
		})
		.run();
};
btn2.onclick = function() {
	box.style.left = '';
	box.style.top = '';
};

</script>

</body>
</html>