<header id="header">
	<nav class="navbar">
		<div class="container">
			<ul class="navbar-nav">
				<li><a href="{{ site.baseurl }}/">主页</a></li>
				<li><a href="{{ site.baseurl }}/note">随笔</a></li>
				<li><a href="{{ site.baseurl }}/about">关于</a></li>
				{% if page.level != 0 %}
				<li><a href="javascript:;" class="small">{{ page.title }}</a></li>
				{% endif %}
				<!-- <li><a href="{{ site.baseurl }}/rss">rss</a></li> -->
			</ul>
		</div>
		<div class="loading">
			<div class="loading-length"></div>
		</div>
	</nav>
</header>