/* overlay */
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	z-index: 999;

	/*display: none;*/
}
.dialog {
	position: absolute;
	/*left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;*/
	width: 300px;
	background: #fff;
	border-radius: 4px;
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);*/
}
.dialog .dialog-header {
	height: 30px;
	line-height: 30px;
	/*background: #E5E6E6;*/
	background: #4183c4;
	color: #eee;
	cursor: move;
}
.dialog .dialog-header h3 {
	float: left;
	text-indent: .5em;
	font-size: 16px;
}
.dialog .dialog-close {
	float: right;
	border: none;
	outline: none;
	background: none;
	font-size: 20px;
	font-weight: bold;
	color: #E5E6E6;
	cursor: pointer;
	transition: all .2s;
}
.dialog .dialog-close:hover {
	color: red;
}
.dialog .dialog-content {
	
}
.dialog .dialog-info {
	margin: 20px;
	margin-bottom: 70px;
	max-height: 90px;
	overflow-y: auto;
}
.dialog .dialog-btns {
	position: absolute;
	bottom: 12px;
	right: 12px;
}
.dialog .dialog-btns button {
	padding: 4px 10px;
}
/* end overlay */