/**
 * 固定表格css
 */
.frezen-table table {
	margin: -1px;
	border-collapse: collapse;
	white-space: nowrap;
}
.frezen-table table td {
	padding: 4px 10px;
	border: 1px solid #ccc;
}
.frezen-table .frezen-scroll {
	max-height: 400px;
	border: 1px solid #ccc;
	overflow: auto;
}