@charset "UTF-8";
@font-face {
  font-family: "octicons";
  src: url("../../fonts/octicons.eot");
  src: url("../../fonts/octicons.eot?#iefix") format("embedded-opentype"), url("../../fonts/octicons.woff") format("woff"), url("../../fonts/octicons.ttf") format("truetype"), url("../../fonts/octicons.svg#svgFontName") format("svg"); }
/* reset */
html, body, ul, h2, h3, h4, p {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }
  a:active, a:visited, a:focus {
    color: inherit; }

/* end reset */
body {
  color: #636365;
  background: #F7F7F7;
  font-family: "微软雅黑", Helvetica, "Heiti SC", sans-serif; }

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 0 6px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 0 0 6px rgba(204, 204, 204, 0.75);
  -ms-box-shadow: 0 0 6px rgba(204, 204, 204, 0.75);
  box-shadow: 0 0 6px rgba(204, 204, 204, 0.75);
  z-index: 99; }
  #header .header-wrap {
    width: 90%;
    margin: 0 auto; }
  #header .header-menu {
    white-space: nowrap; }
    #header .header-menu li {
      position: relative;
      display: inline;
      margin-right: 10px;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 40px; }
      #header .header-menu li:after {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: -4px;
        display: block;
        height: 3px;
        background: #1FAEFF;
        /* 持续时间 动画方式 延时 */
        -webkit-transition: 0.2s ease-in 0s;
        -moz-transition: 0.2s ease-in 0s;
        -ms-transition: 0.2s ease-in 0s;
        transition: 0.2s ease-in 0s; }
      #header .header-menu li:hover a {
        color: #1FAEFF; }
      #header .header-menu li:hover:after {
        left: 0;
        right: 0;
        opacity: 1; }
      #header .header-menu li.active a {
        color: #1FAEFF; }
      #header .header-menu li.active:after {
        left: 0;
        right: 0;
        opacity: 1; }
      #header .header-menu li a {
        color: #999;
        /* 持续时间 动画方式 延时 */
        -webkit-transition: 0.2s ease-in 0s;
        -moz-transition: 0.2s ease-in 0s;
        -ms-transition: 0.2s ease-in 0s;
        transition: 0.2s ease-in 0s; }

/* end header */
/* main */
#main {
  width: 80%;
  margin: 50px auto 20px; }

.row-fluid .col-fluid {
  line-height: 1.5;
  padding: 6px;
  float: left;
  border: 1px solid #ccc; }
  .row-fluid .col-fluid p {
    line-height: 1.7; }
  .row-fluid .col-fluid .entry-title a {
    color: inherit; }
  .row-fluid .col-fluid .entry-meta {
    color: #aaa;
    font-size: 15px; }
  .row-fluid .col-fluid .entry-more {
    color: #4183C4;
    transition: all .2s; }
  .row-fluid .col-fluid .entry-footer {
    margin: 4px 6px;
    text-align: right; }
  .row-fluid .col-fluid .entry-more:hover {
    margin-left: .5em;
    color: #1FAEFF;
    text-decoration: underline; }
  .row-fluid .col-fluid .entry-summary {
    height: 200px; }

/* end main */
/* footer */
#footer {
  background: #333;
  color: #ccc; }
  #footer .footer-wrap {
    width: 86%;
    height: 46px;
    overflow: hidden;
    margin: 0 auto;
    line-height: 46px;
    text-align: center; }
    #footer .footer-wrap a {
      color: inherit; }

/* end footer */
/* font-family */
.octicon-mark-github {
  font-family: octicons;
  transition: color .2s; }

.octicon-mark-github:hover {
  color: #4183c4; }

.octicon-mark-github:before {
  content: "\f00a";
  font-size: 30px; }

/* end font-family */
/* totop */
#totop {
  position: fixed;
  right: 2%;
  bottom: 50px;
  cursor: pointer;
  z-index: 99;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s; }
  #totop a {
    display: block;
    width: 50px;
    height: 50px;
    background: url("../../images/scrollup.png") no-repeat center; }

.totop-hide {
  /*display: none;*/
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6); }

.totop-show {
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/* end totop */
/* 通用 */
.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both; }

/* end 通用 */
/* 响应式 */
/* @media (min-width: 700px) {
	.row-fluid {
		.col-fluid {
			width: 40%;
			margin: 2%;
		}
	}
}

@media (max-width: 700px) {
	.row-fluid {
		.col-fluid {
			width: 30%;
			margin: 1%;
		}
	}
} */
/* end 响应式 */

/*# sourceMappingURL=main.css.map */
