/* 表格样式 */
.table-wrap {
	position: relative;
}
.table-scroll {
	overflow: auto;
	width: 400px; height: 300px;
	border: 1px solid #ccc;
}
.table-self {
	border-collapse: collapse;
	margin: -1px 0 0 -1px;
}
.table-self td {
	border: 1px solid #ccc;
	padding: 6px 20px;
	white-space: nowrap;
}
.table-self thead {
	background: white;
}
.table-fixed {
	position: absolute;
	left: 1px; top: 0;
}
.table-fixed {
	background: white;
	overflow: hidden;
}
.table-fixed .table-fixed-thead {
	
}
.table-fixed .table-fixed-thead span {
	display: inline-block;
	float: left;
	border: 1px solid #ccc; border-left: 0;
	padding: 6px 20px;
}

/* 左右分栏 */
.layout {
	margin: 20px;
}
.layout-left {
	float: left;
}
.layout-right {
	float: left;
	padding:20px;
}