---
layout: default
title: 表格固定
---

<p>
	表格固定首尾，固定前面几个列，在生产环境下挺实用的。做成了一个插件的形式。使用如下：
</p>

<pre>
	<code>
	引用两个文件
		tableFix.css
		tableFix.js

	new TableFix(elem);
	</code>
</pre>

<div class="table-fix">
	<div class="table-fix-scroll">
		<table class="table-fix-main" id="table_fix" data-fix-column="5">
			<thead>
				<tr>
					<td>序号</td>
					<td>姓名</td>
					<td>编号</td>
					<td>职位</td>
					<td>部门</td>
					<td>备注</td>
					<td>序号</td>
					<td>姓名</td>
					<td>编号</td>
					<td>职位</td>
					<td>部门</td>
					<td>备注</td>
					<td>序号</td>
					<td>姓名</td>
					<td>编号</td>
					<td>职位</td>
					<td>部门</td>
					<td>备注</td>
				</tr>
			</thead>
			<tbody>
				{% for i in (1..50) %}
					<tr>
						<td>0{{ i }}</td>
						<td>LL{{ i }}</td>
						<td>000{{ i }}</td>
						<td>工程师</td>
						<td>生产部</td>
						<td>勤劳、勇敢</td>
						<td>0{{ i }}</td>
						<td>LL{{ i }}</td>
						<td>000{{ i }}</td>
						<td>工程师</td>
						<td>生产部</td>
						<td>勤劳、勇敢</td>
						<td>0{{ i }}</td>
						<td>LL{{ i }}</td>
						<td>000{{ i }}</td>
						<td>工程师</td>
						<td>生产部</td>
						<td>勤劳、勇敢</td>
					</tr>
				{% endfor %}
			</tbody>		
		</table>
	</div>
</div>

{% include link.html param="tableFix" %}
{% include script.html param="tableFix" %}
<script type="text/javascript">
// 调用
new TableFix('#table_fix');
</script>