<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/web-code.png">
	{% include link.html param="main" %}
	{% include link.html param="dialog" %}
	<!--[if lte IE 8]>
	{% include script.html param="html5shiv.min" %}
	<![endif]-->
	<!--[if lte IE 7]>
	{% include script.html param="Sizzle" %}
	<![endif]-->

	{% include script.html param="tw-new" %}
	{% include script.html param="css3Tran" %}
	{% include script.html param="dialog" %}
	{% include script.html param="main" %}
</head>
<body>
	{% include header.html %}
	<div id="main">
		{{ content }}
	</div>
	{% include footer.html %}
	<div id="totop" style="display: none">
		<a href="javascript:void(0);" title="返回顶部"></a>
	</div>
	<div class="overlay" style="display: none;">
		<div class="dialog">
			<header class="dialog-header">
				<h3>信息</h3>
				<button class="dialog-close">x</button>
			</header>
			<div class="dialog-content">
				<div class="dialog-info">正在加载……</div>
				<div class="dialog-btns">
					<button class="dialog-confirm">确 定</button>
					<!-- <button>取消</button> -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>
