<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/web-code.png">

	<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/base.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/modules/highlight/styles/hybrid.css">
	<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/require.js"></script>
	<script type="text/javascript">
	// 配置
	require.config({
		baseUrl: '{{ site.baseurl }}/assets/scripts/'
	});
	// 加载main.js
	require(['main', '../modules/highlight/highlight'], function(main, hljs) {
		var code = document.querySelectorAll('pre code'),
				i = 0;
		for (;i < code.length; i++) {
			hljs.highlightBlock( code[i] );
		}
	});
	</script>
</head>
<body>
	{% include header.html %}
	<div id="page">
		<div class="container">
			{{ content }}
		</div>
	</div>
	{% include footer.html %}
</body>
</html>
